---
import Layout from "../layouts/Layout.astro"
import Showcase from "../components/Showcase.astro"
import Features from "../components/Features.astro"
import Tabs from "../components/Tabs.astro"
---
<Layout>
	<Showcase
		title="Welcom to the Astro Crash Course!"
		text="Build super fast HTML-first websites using your favorite Javascript frameworks"
		showExtra={true}
	/>
	<Features />

	<section class="page-content">
		<div class="container">
			<h2>Get Started With Astro</h2>
			<p>
				Get a new Astro project up and running locally
				with our helpful create-astro CLI wizard!
			</p>

			<Tabs />

			<h3>Start Building</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit,
				sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				Ut enim ad minim veniam, quis nostrud exercitation ullamco
				laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
				dolor in reprehenderit in voluptate velit esse cillum dolore eu
				fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
				sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</section>
</Layout>
